@model InventoryViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Cars[0].Model</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cars[0].CarId" />
            <div class="form-group">
                <label asp-for="Cars[0].Make" class="control-label"></label>
                <input asp-for="Cars[0].Make" class="form-control" />
                <span asp-validation-for="Cars[0].Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cars[0].Model" class="control-label"></label>
                <input asp-for="Cars[0].Model" class="form-control" />
                <span asp-validation-for="Cars[0].Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cars[0].Year" class="control-label"></label>
                <input asp-for="Cars[0].Year" class="form-control" />
                <span asp-validation-for="Cars[0].Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cars[0].Color" class="control-label"></label>
                <input asp-for="Cars[0].Color" class="form-control" />
                <span asp-validation-for="Cars[0].Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cars[0].Mileage" class="control-label"></label>
                <input asp-for="Cars[0].Mileage" class="form-control" />
                <span asp-validation-for="Cars[0].Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cars[0].Price" class="control-label"></label>
                <input asp-for="Cars[0].Price" class="form-control" />
                <span asp-validation-for="Cars[0].Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cars[0].Image" class="control-label"></label>
                <input asp-for="Cars[0].Image" class="form-control" />
                <span asp-validation-for="Cars[0].Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-asp-controller="Inventory" asp-action="Index">Back to Inventory</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
